@media screen and (min-width: 320px) {
    .social-item-footer{
        /*width: 40px;*/
        margin-bottom: 15px;
    }
    
    .footer-social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
    .social-link-footer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .address-info-footer {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #b8b5b5;
        gap: 40px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        white-space: nowrap;
        
    }

    .address-info-footer:hover,
    .address-info-footer:focus {
        color: #404bbf;
    }


    .item-address {
        display: flex;
        justify-content: center;
    }
    .src-footer {
        color: aliceblue;
        transition: background-color 0.2s ease, color 0.2s ease;
    }
    .list-nav-sup{
        white-space: nowrap;
        display: grid;
        place-items: center;
    }
    .navigation-suport {
        margin-bottom: 10px;
        color: aliceblue;
    }
    .paragraph-subscribe {
        margin-bottom: 30px;
    }
    .list-nav-sup li:last-child {
        margin-bottom: 50px; 
      }
    .img-webakula {
        width: 120px;
        height: 20px;
        margin-left: 10px;
    }
    
    hr {
        border: none; 
        height: 2px; 
        background-color: #62616164; 
        margin: 20px 0; 
        width: 62%; 
        margin-left: auto; 
        margin-right: auto;
        max-width: 250px;
      }
    .ul-point{
        display: none;
    }
    .nav-menu {
        display: flex; 
        flex-wrap: nowrap; 
        overflow-x: auto; 
        overflow-y: hidden; 
        list-style: none; 
        margin: 0;
        background-color: #d9ff01;
        white-space: nowrap; 
        margin-left: auto;
        margin-right: 10px;
        margin-left: 10px;
    }
        
    .nav-menu li {
        display: inline-block; 
        margin-right: 15px; 
    }
    
    .nav-link {
        text-decoration: none; 
        color: #080808;
        font-weight: bold;
        transition: background-color 0.2s ease, color 0.2s ease;

    }
    
    .nav-link:hover {
        color: #404bbf; 
    }

    
    .header-logo-icon{
        margin-left: 5px;
        margin-right: 5px;
    }
    .section {
        padding: 96px 0;
    }
    .img-portfolio {
        width: calc((100% - 48px) / 3);
        flex-basis: 100%;
        
    }
    .img-portfolio:not(:last-child) {
        margin-bottom: 48px;
    }
    .container-person {
        padding: 0 28px;
    }
    .list-desc {
        display: flex;
        /*gap: 24px;*/
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .team-sec {
        background-color: #F4F4FD;
        padding: 96px 0;

    }
    .img-team {
        margin: 0 auto;
    }
    .img-team:not(:last-child) {
        margin-bottom: 72px;
    }
    .icon-desc {
        display: none;
    }
    .title-desc {
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        
    }
    .paragraph-desc {
        color: #434455;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 288px;
        text-align: left;
    }
    
    .paragraph-desc br {
        display: none;
        
    }
    
    .list-desc {
        margin: 0 auto;
    }
    .item-desc:not(:last-child) {
        margin-bottom: 72px;
    }
    /* navigation*/
    .logo-left-header {
        padding: 16px;
    }
   /*.order-sec {
        padding: 72px 0;
    
    }*/
    .list-portfolio {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        /*row-gap: 48px;*/
    }
  
    /*end-navigation*/
    /*footer*/
    /*.footer {
        width: 320px;
        height: 664px;
    }*/
    .container-footer {
        
        max-width: 1158px;
        /*padding: 0 15px;*/
        margin: 0 auto;
        display: block;
        
            
    }
    .logo-left-footer,
    .right-logo-footer {
        margin-right: 0;
        display: flex;
        justify-content: center;
        
    }
    .container-footer-logo {
        margin: 0 auto 72px;
    }
    .paragraph-footer-social {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .paragraph-footer {
        margin: 0 auto;
        display: flex;
    }
    .list-socials-footer {
        display: block;
        gap: 16px;
        justify-content: center;
    }
    .subscribe-footer {
        margin-left: 0;
    }

    .email-line {
        display: block;
        
    }
    .paragraph-subscribe {
        display: flex;
        justify-content: center;
    }
    .email-footer {
        width: 288px;
        margin-bottom: 16px;
    }
    .footer-button {
        margin: 0 auto;
    }
    /*Modal*/
    .modal {
        width: 288px;
    }
    .order-button {
        margin-left: auto;
    }
    
}






@media screen and (min-width: 608px) and (max-width: 767px) {
    .img-team:not(:last-child) {
            margin-bottom: 72px;
            
        }
        .list-team {
            flex-direction: column;
        }
        
    
    }



@media screen and (min-width: 768px) {
    
    hr {
        border: none; 
        height: 2px; 
        background-color: #62616164; 
        margin: 20px 0; 
        width: 100%; 
        margin-left: auto; 
        margin-right: auto;
        max-width: 400px;
      }
    
    .paragraph-subscribe {
        justify-content: left;
    }
    .list-nav-sup{
        white-space: nowrap;
        display: block;
    }
    .subscribe-footer{
        margin-right: 25px;
    }
    .vertical-line {
        border: none; 
      border-left: 2px solid #62616164; 
      height: 50px; 
      margin: 0 20px;
      width: 2px;
      }
    .ul-point{
        display: flex;
        gap: 10px;
        margin-top: 10px;
        margin-left: 35px;
    }
    .nav-menu {
        display: flex; 
        flex-wrap: nowrap; 
        overflow-x: none; 
        overflow-y: none; 
        list-style: none; 
        background-color: #d9ff01;
        white-space: nowrap; 
        margin-left: auto;
        margin-bottom: 50px;
        max-width: 700px;
    }
        
    .nav-menu li {
        display: inline-block; 
        margin-right: 15px; 
    }
    
    .nav-link {
        text-decoration: none; 
        color: #080808;
        font-weight: bold;
    }
    
    .nav-link:hover {
        color: #066fe0; 
    }


    
    .header-logo-icon{
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .order-title {
        margin: 0 auto 35px;
        
    }
    .section {
        padding: 96px 0;
    }
    .img-portfolio {
        width: calc((100% - 24px) / 2);
        flex-basis: 0;
        /*margin-bottom: 72px;*/
    }
    .img-team {
        margin: 0;
    }
    .img-team:not(:last-child) {
        margin-bottom: 0;
    }
    .img-team:nth-last-child(1),
    .img-team:nth-last-child(2){
        margin-bottom: 0;
    }
    /*.img-team{
        margin-bottom: 0;
    }*/
    .order-button {
        margin-left: auto;
    }


    




    .container-person {
        max-width: 768px;
        
    }
    /*.container-description {
        max-width: 768px;
        
    }*/
    .list-team {
        display: flex;
        flex-basis: 100%;
        gap: 64px 24px;
        justify-content: center;
        
    }
    .team-sec {
        background-color: #F4F4FD;
        padding: 96px 0;

    }
    
    .title-desc {
        text-align: left;
        
    }
    .paragraph-desc {
        width: 356px;
    
        text-align: left;
    }
    .paragraph-desc br {
        display: inline;

    }
    /*.order-sec {
        padding: 112px 0;

    }*/
    
    .list-portfolio {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        /*row-gap: 36px;*/
        justify-content: center;
        align-items: center;
    }
    /*.footer {
        width: 768px;
        height: 456px;
    }*/
    .logo-left-footer,
    .right-logo-heder {
        
        display: inline-flex;
    }
    .paragraph-footer-social {
        display: block;
    }
    .list-socials-footer {
        display: flex;
        gap: 16px;
        justify-content: left;
        margin-bottom: 0;
    }
    .email-line {
        display: flex;
        gap: 24px;

    }
    
    .email-footer {
        width: 264px;
        margin-bottom: 0;
    }
    .footer-button {
        margin: 0;
    }
    .container-footer {
        display: flex;
        
        /*padding: 0 24px;*/
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin: 0 108px;
        gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }
    
}




















@media screen and (min-width: 1158px) {
    .social-item-footer {
        display: inline flow-root list-item;
        margin-right: 25px;
        
    }
    .vertical-line {
        border: none; 
        height: 2px; 
        background-color: #62616164; 
        margin: 20px 0; 
        width: 100%; 
        margin-left: auto; 
        margin-right: auto;
      }
    .paragraph-footer{
        width: auto;
    }
    .ul-point{
        margin-top: 120px;
        margin-left: 163px;
    }
    .nav-menu {
        display: flex; 
        flex-wrap: nowrap; 
        overflow-x: none; 
        overflow-y: none; 
        list-style: none; 
        background-color: #d9ff01;
        white-space: nowrap; 
        margin-left: auto;
        margin-right: 40px;
        max-width: 700px;
    }
        
    .nav-menu li {
        display: inline-block; 
        margin-right: 15px; 
    }

    .headerContact {
        margin-left: auto;
    }
    .header-logo-icon{
        margin-right: 400px;
    }
    .container {
        max-width: 1250px;
        
    }
    .order-title {
        margin-left: 150px;
        margin-bottom: 35px;

    }
    .section {
        padding: 120px 0;
    }
    
    .img-portfolio {
        width: calc((100% - 48px) / 3);
        margin-bottom: 48px;
        
    }

    
    


    .container-person {
        max-width: 1158px;
    }
    /*.container-description {
        max-width: 1158px;
    }*/
    .img-team {
        width: calc((100% - 72px) / 4);
        overflow: hidden;
        height: 425px;
        
    
    }
    .team-sec {
        background-color: #F4F4FD;
        /*padding: 120px 0;*/

    }
    

   .paragraph-desc {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-size: 16px;
        width: 264px;
        font-weight: 400;
        
        
   }
   .list-desc {
       display: flex;
       gap: 24px;
        height: 224px;
        width: 1124px;
        align-items: baseline;
        
   }
   .item-desc {
        width: calc((100% - 72px)/4);
   }
   .icon-desc {
       display: flex;
       align-items: center;
       justify-content: center;
       height: 112px;
       background-color: #F4F4FD;
       border-radius: 4px;
       margin-bottom: 8px;
       width: 264px;
       border: 1px solid #8E8F99;
   }

   .title-desc {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       color: #2E2F42;
       margin-bottom: 8px;
   }
   
   
   .logo-left-header {
       padding: 25px;
       padding-left: 76px;
   }
   .right-logo-heder {
       margin-right: 0;
   }
   
   .address-socials {
       display: flex;
       padding: 24px;
   }
   .item-address:not(:last-child) {
       margin-bottom: 0;
   }
   /*.order-sec {
       padding: 188px 0;

   }*/
   
   /*.footer {
       width: 1158px;
       height: 312px;
       
   }*/
   .container-footer {
       max-width: 1158px;
       /*padding: 0 15px;*/
       margin: 0 auto;
       display: flex;
       align-items: baseline;
   }
   .container-footer-logo {
        margin-right: 60px;
   }
   
   .logo-left-footer,
   .right-logo-heder {
       display: inline-flex;
       margin-right: 76px;
   }
   .paragraph-footer-social {
       display: block;
   }
   .list-socials-footer {
       display: block;
        margin-bottom: 0;
        margin-right: 0;
   }
    .email-line {
        display: flex;
        gap: 24px;

    }
    .paragraph-subscribe {
        display: block;

    }
    .email-footer {
        width: 264px;
        margin-bottom: 0;
    }
    .footer-button {
        margin: 0;
    }
    .container-footer {
        flex-wrap: nowrap;
    }
    /*modal*/
    .modal {
        width: 408px;
    }
    .product-image-portfolio {
        width: 360px;
        width: 300px;
    }
    .order-button {
        margin-left: 150px;
    }

}






/*background-image*/
/*Mobile*/
@media only screen and (min-width: 320px) {
    .order-sec {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /*max-width: 320px;*/
        max-height: 432px;
        /*возможно убрать везде*/
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-img/back.jpg);
    }
}

@media only screen and (min-resolution: 192dpi) {
    .order-sec {

        /*max-width: 320px;*/
        max-height: 432px;
        /*возможно убрать везде*/
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-img/back.jpg);
    }
}
/*Tablet*/
@media only screen and (min-width: 768px) {
    .order-sec {
        /*max-width: 768px;*/
        max-height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(images/background-img/back.jpg);
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .order-sec {
        /*max-width: 768px;*/
        max-height: 436px;
        /*возможно убрать везде*/
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-img/back.jpg);
    }
}

/*Desktop*/
@media only screen and (min-width: 1158px) {
    .order-sec {
        /*max-width: 1158px;*/
        max-height: 600px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-img/back.jpg);
    }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .order-sec {
        /*max-width: 1158px;*/
        max-height: 600px;
        /*возможно убрать везде*/
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-img/back.jpg);
    }
}

/*end-of-background-image*/






/*Images for pottfolio*/
@media only screen and (min-width: 1158px) {
    .product-image-portfolio {
        width: 360px;
        height: 300px;

            
    }
}
@media only screen and (min-width: 768px) {
    .product-image-portfolio {
        width: 356px;
        height: 300px;
        
    
    }
    
}
@media only screen and (min-width: 320px) { 
    .product-image-portfolio {
        /*width: 288px;*/
        height: 280px;
    }
}






