:root {
    --color-paragraph-footer: #F4F4FD;
    --color-link-team: #4d5ae5;
    --color-paragraph: #FFFFFF;
    --color-modal-paragraph: #2E2F42;
    --color-label-name: #8e8f99;
    --color-span: #404bbf;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}
img {
    display: block;
    width: 100%;
}
a {
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1 {
    color: #FFFFFF;
}

hr {
    height: 2px;
}
.section {
    padding: 120px 0;


}

.container {
    
    max-width: 100%;
    padding: 20px 15px;
    background-color: rgba(212, 215, 216, 0.371); 

}
input[type="checkbox"] {
    display: none;
}
textarea {
    display: block;
}


/* header */
.header-logo-icon {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  


.header {
    
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}
.container-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    }

.nav {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.logo-left-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    padding: 24px 0;
    display: flex;
    align-items: center;

}
.right-logo-heder {
    color: #2E2F42;
}
.icon-point{
    background-color: #e1f103;
    border-radius: 50%;

    
}
.icon-point-white{
    background-color: #ffffff;
    border-radius: 50%;
}
.ul-point{
    display: flex;
    gap: 10px;
}

.nav-menu {
    display: flex;
    gap: 40px;
    justify-content: center;
    border-radius: 18px;
    background-color: #dae815;
    width: auto;
    max-width: 630px;
    

}
.nav-link {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: inline-block;
    padding: 24px 0;
    position: relative;
    white-space: nowrap;
    
}


.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-link-carent {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: inline-block;
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-carent::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    width: 100%;
    

}

.address {
    font-style: normal;
}
.address-socials {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.item-address {
    gap: 40px;
    padding: 15px 0;
}
.address-info {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #b8b5b5;
    gap: 40px;
    transition: background-color 0.2s ease, color 0.2s ease;}

.address-info:hover,
.address-info:focus {
    color: #c6d002;
}
.menu-toggle {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;

}



/*order section 1*/
.order-sec {
    background-color: #2E2F42;
    /*padding: 188px 0;*/
    /*max-width: 1440px;*/
    padding-bottom: 188px;
    
}

.order-title {
    color: #ffffff;
    margin-right: auto;
    margin-bottom: 35px;
}

.order-button {
    background-color: #e5db4d;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #000000;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 13px;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 5px 20px;
    margin-left: 150px;

}

.order-button:hover,
.order-button:focus {
    background-color: #b7bf40;
}



/*description 2*/
.visually-hiden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.list-desc {
    display: flex;
    /*gap: 24px;*/
}

.item-desc {
    /*width: calc((100% - 3 * 24px)/4);*/
}
.icon-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
    border: 1px solid #8E8F99;
}
.title-desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.paragraph-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
    
}





/* Footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.logo-left-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}

.right-logo-footer {
    color: #f4f4fd;

}

.paragraph-footer {
    line-height: 1.5;
    color: var(--color-paragraph-footer);
    letter-spacing: 0.02em;
    width: 264px;
}

.container-footer {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
}

.container-footer-logo {
    margin-right: 120px;
}
.paragraph-footer-social {
    
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-paragraph);
        margin-bottom: 16px;
}
.list-socials-footer {
    display: flex;
    gap: 16px;
    
}
.social-item-header {
    width: 40px;
}
.social-item-footer{
    /*width: 40px;*/
}
.social-link-header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-header {
    fill: var(--color-paragraph-footer);
}
.icon-footer {
    fill: var(--color-paragraph-footer);

}

.subscribe-footer {
    margin-left: 80px;

}
.paragraph-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    
}

.email-line {
    display: flex;
    gap: 24px;
}

.email-label {
    gap: 24px;
    display: flex;
    justify-content: center;
}
.email-footer {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;

}
.email-footer::placeholder {
    color: #ffffff;
}

.footer-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.icon-telegram {
    margin-left: 16px;
}







.title-left-about-us { 
    color: #000000;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125; 
    letter-spacing: -0.04em;
    
    
    

}
.title-right-about-us {
    color: #000000; 
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125;
    letter-spacing: -0.04em;
}
.container-about-us {
    max-width: 100%;
}
.list-about-us {
    list-style: none;
    display: flex;
}
.paragraph-about-us {
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
}
.img-about-us {
    color: #fff;
}

.src-footer:hover,
.src-footer:focus {
    color: #404bbf;
}



@media only screen and (min-width: 320px) { 
    .container-about-us {
        margin: 0 20px;
    }
    .img-about-us {
        
        margin: 0 auto 40px; 
      }
    .item-about-us {
        display: block;
    }
    .title-left-about-us {
        font-size: 28px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.04em;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
    }
    .title-right-about-us { 
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.04em; 
    }
    .list-about-us {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
   
    .item-about-us:not(:last-child) {
        margin-bottom: 20px;
    }
    
}



@media only screen and (min-width: 768px) {
    .container-about-us {
        margin: 0 32px;
    }
    
    .title-left-about-us {
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.125;
        letter-spacing: -0.04em;
        margin-left: 70px; 
    }
    .title-right-about-us {
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.125;
        letter-spacing: -0.04em; 
    }
    .list-about-us {
        flex-direction: unset;
        gap: 40px;
        align-items: flex-start;
        justify-content: unset;
    }
    .paragraph-about-us {
        width: auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: -0.02em;
    }
    .item-about-us:not(:last-child) {
        margin-bottom: 0;
    }
    .list-about-us {
        margin: 0;
    }
    /*.item-about-us {
        display: flex;
    }*/
}






@media only screen and (min-width: 1280px) { 
    .container-about-us {
        margin: 0 100px;
    }
    .img-about-us {
        margin-bottom: 0;
    }
    .title-left-about-us {
        font-size: 48px;
        font-weight: 500;
        line-height: 1.125;
        letter-spacing: -0.04em;
        display: block;
        margin-left: 150px;
        
    }
    .title-right-about-us {
        font-size: 48px;
        font-weight: 500;
        line-height: 1.125;
        letter-spacing: -0.04em; 
    }
    .item-about-us {
        display: flex;
    }
    .paragraph-about-us {
        margin-top: 50px;
    }
    .list-about-us {
        gap: 20px;
        display: inline-flex;
        flex-wrap: nowrap;
    }
    .img-about-us {
        margin-right: 40px;
    }
    .item-img-about-us{
        display: flex;
    }
}


@media only screen and (min-width: 1440px) { 
    .list-about-us {
        gap: 40px
    }
    .img-about-us {
        /*margin-right: 50px;*/
        margin: 0;
    }
    .paragraph-about-us {
        
    }
    .item-img-about-us {
        display: flex;
        gap: 50px;
        
      }

}


.img-footer {
    width: auto;
}




/*Photo*/

@media only screen and (min-width: 320px) { 
    .img-about-us {
        height: 209px;
    }
}



@media only screen and (min-width: 768px) {
    .img-about-us {
        width: 704px;
        height: 340px;
        padding: 0;
        
    
    }
    
}

@media only screen and (min-width: 1280px) {
    .img-about-us {
        width: 488px;
        height: 260px;
        margin-left: 150px;
         
            
    }
}

@media only screen and (min-width: 1440px) { 
    .img-about-us {
        width: 560px;
        height: 240px;
         
    }
}